.comments {
  margin-top: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.comment p {
  margin-top: 0;
  margin-bottom: 0;
}

.content {
  padding-bottom: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-half);
  margin-bottom: 0;
}

.inputheader {
  display: flex;
  justify-content: space-between;
}

.inputheader span,
.error {
  color: var(--rose-500);
}

.error {
  font-weight: 600;
}

.author {
  font-weight: 600;
  color: var(--gray-900);
}

.date,
.maxlength {
  color: var(--gray-400);
}

.actions {
  display: flex;
  gap: var(--gap-half);
}

.edit,
.delete {
  padding: var(--gap-quarter);
  border-radius: var(--radius-sm);
  background-color: transparent;
  cursor: pointer;
  transition: background-color var(--transition);
}

.edit:hover {
  background-color: var(--teal-300);
}

.delete:hover {
  background-color: var(--rose-300);
}

.edit svg,
.delete svg {
  max-width: 15px;
  max-height: 15px;
  min-width: 15px;
  min-height: 15px;
}

.formactions {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.primary {
  background-color: var(--teal-500);
  color: var(--teal-50);
}

.primary:hover {
  background-color: var(--teal-400);
}

.secondary {
  background-color: var(--teal-300);
}

.secondary:hover {
  background-color: var(--teal-200);
}

.end {
  font-weight: 600;
  color: var(--gray-400);
  text-align: center;
}

.load {
  display: flex;
  justify-content: center;
}

.skeleton {
  display: block;
}

.dummyauthor {
  display: flex;
  align-items: center;
}

.dummytitle,
.dummydescription {
  height: 25px;
  animation: pulse 2s infinite;
  margin: 0.05 0 !important;
  border-radius: var(--radius-sm);
  background-color: var(--gray-200);
}

.dummytitle {
  width: 25%;
}
.dummydescription {
  width: 75%;
}
