/* Global card styles */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--gap-med);
}

.gridtall {
  display: flex;
  flex-direction: column;
  gap: var(--gap-med);
}

.gridshort {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: var(--gap-med);
}

.notifgrid {
  display: flex;
  flex-direction: column;
  gap: var(--gap-med);
  margin-bottom: var(--gap-med);
}

.card,
.reviewcard,
.coursecard {
  background-color: var(--card);
  border-radius: var(--radius);
  padding: var(--gap-med);
  box-shadow: var(--shadows);
}

.card:hover > .eventName,
.card:hover > .orgheader > .organizationName {
  color: var(--teal-800);
}

.coursecard,
.card {
  transition: all 150ms ease-in-out;
}

.coursecard:hover,
.card:hover {
  transform: translateY(-0.25rem);
  cursor: pointer;
}

.author {
  margin: 0;
}

.author,
.date {
  color: var(--gray-400);
}

.tagwrapper {
  display: flex;
  gap: var(--gap-half);
  flex-wrap: wrap;
}

.taginput {
  flex-basis: 1/2;
}

.tag {
  background: var(--teal-300);
  color: var(--teal-900);
  display: flex;
  align-items: center;
  padding: var(--gap-half);
  border-radius: var(--radius);
  width: max-content;
  gap: var(--gap-half);
}

.removetag {
  cursor: pointer;
  color: var(--rose-900);
  background-color: var(--teal-300);
  border-radius: 10px;
  height: 30px;
  width: 30px;
  max-height: max-content;
}

.suggestions {
  position: absolute;
}
.suggestions ul {
  list-style-type: none;
  box-shadow: var(--shadows);
  background: var(--card);
  border-radius: var(--radius);
  width: 300px;
}
.suggestions li {
  padding: var(--gap-half);
  margin: 0;
  cursor: pointer;
}

.suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
  color: var(--teal-900);
  cursor: pointer;
}

.activesuggestion {
  color: var(--teal-700);
  cursor: pointer;
}

.greencard {
  padding: var(--gap-half) var(--gap-med);
  margin-bottom: var(--gap-med);
  border-radius: var(--radius);
  background-color: var(--teal-100);
}

.defaultcard {
  padding: var(--gap-half) var(--gap-med);
  border-radius: var(--radius);
  background-color: var(--gray-100);
}

.defaultnotif,
.greennotif {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-med);
  padding: var(--gap-half) var(--gap-med);
  border-radius: var(--radius);
}

.defaultnotif > button,
.greennotif > button {
  margin-top: var(--gap-half);
  margin-right: -5px;
}

.defaultnotif {
  background-color: var(--gray-100);
}

.greennotif {
  background-color: var(--teal-100);
}

.notifmessage {
  flex: 1;
}

/* Dummy card styles */
.dummycard {
  background-color: var(--card);
  border-radius: var(--radius);
  padding: var(--gap-med);
  margin: var(--gap) 0;
  box-shadow: var(--shadows);
}

.dummyauthor {
  display: flex;
  align-items: center;
  margin-top: -1rem;
}

.dummytitle,
.dummydescription {
  height: 25px;
  animation: pulse 2s infinite;
  border-radius: var(--radius-sm);
  background-color: var(--gray-100);
}

.dummytitle {
  width: 25%;
}
.dummydescription {
  width: 100%;
}

@keyframes pulse {
  0% {
    background-color: var(--gray-50);
  }
  50% {
    background-color: var(--gray-100);
  }
  100% {
    background-color: var(--gray-50);
  }
}

/* Review post card styles */
.reviewheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coursetitle,
.difficulty {
  font-size: 2em;
  margin: 0;
}

/* Organization card styles */
.rounded {
  border-radius: 50%;
}

.orgheader {
  display: flex;
  align-items: center;
  gap: var(--gap-half);
}

.orgheader:hover {
  cursor: pointer;
}

.gridcard:hover > .orgheader > .organizationName {
  color: var(--teal-800);
  margin-right: var(--gap-quarter);
}

.gridcard:hover > .orgheader > .linkIcon {
  color: var(--teal-800);
}

.organizationName {
  font-size: 2em;
  margin: 0;
}

.organizationName,
.linkIcon {
  color: var(--teal-500);
  transition: all 150ms ease-in-out;
}

.linkIcon {
  margin-left: var(--gap-quarter);
}

/* Courses card styles */
.course {
  margin: 0;
  color: var(--teal-500);
  transition: color 150ms ease-in-out;
}
.coursecard:hover > .course {
  color: var(--teal-800);
}

/* Event card */

.eventName {
  color: var(--teal-500);
  margin: 0;
  transition: all 150ms ease-in-out;
}
.expired {
  background-color: var(--rose-100);
  color: var(--rose-800);
  border-radius: var(--radius-sm);
  padding: var(--gap-quarter);
  margin-top: var(--gap-med);
  width: max-content;
}
/* Comment card */

.comment p {
  word-wrap: break-word;
}
