/* Global card styles */
.card {
  background-color: var(--gray-50);
  border: 2px solid var(--gray-100);
  border-radius: var(--radius);
  padding: var(--gap-med);
  margin: var(--gap-med) 0;
  box-shadow: var(--shadows-lg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: var(--gap-med);
}

.gridcard {
  background-color: var(--gray-50);
  border: 2px solid var(--gray-100);
  border-radius: var(--radius);
  padding: var(--gap-med);
  margin: 0;
  box-shadow: var(--shadows-lg);
  transition: all 150ms ease-in-out;
}

.gridcard:hover {
  background-color: var(--gray-100);
  transform: translateY(-0.25rem);
  cursor: pointer;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.deleteaction {
  color: var(--red-900);
  background: var(--red-100);
}

.deleteaction:hover {
  background-color: var(--red-200);
}

/* Dummy card styles */
.dummycard {
  background-color: var(--gray-50);
  border: 2px solid var(--gray-100);
  border-radius: var(--radius);
  padding: var(--gap-med);
  margin: var(--gap) 0;
  box-shadow: var(--shadows-base);
}

.dummyauthor {
  display: flex;
  align-items: center;
  margin-top: -1rem;
}

.dummytitle,
.dummydescription {
  height: 25px;
  animation: pulse 2s infinite;
  border-radius: var(--radius-sm);
  background-color: var(--gray-200);
}

.dummytitle {
  width: 25%;
}
.dummydescription {
  width: 100%;
}

@keyframes pulse {
  0% {
    background-color: var(--gray-200);
  }
  50% {
    background-color: var(--gray-300);
  }
  100% {
    background-color: var(--gray-200);
  }
}

/* Review post card styles */
.reviewheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coursetitle,
.difficulty {
  font-size: 2em;
  margin: 0;
}

.authorlabel {
  color: var(--gray-500);
}

/* Organization card styles */
.orgheader {
  display: flex;
  align-items: center;
}

.orgheader:hover {
  cursor: pointer;
}

.gridcard:hover > .orgheader > .organizationName {
  color: var(--purple-800);
  margin-right: var(--gap-quarter);
}

.gridcard:hover > .orgheader > .linkIcon {
  color: var(--purple-800);
}

.organizationName {
  font-size: 2em;
  margin: 0;
}

.organizationName,
.linkIcon {
  color: var(--purple-500);
  transition: all 150ms ease-in-out;
}

.linkIcon {
  margin-left: var(--gap-quarter);
}

.organizer {
  color: var(--gray-500);
}

/* Courses card styles */

.courseGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: var(--gap-med);
}

.coursecard {
  background-color: var(--gray-50);
  border: 2px solid var(--gray-100);
  border-radius: var(--radius);
  padding: var(--gap-med);
  box-shadow: var(--shadows-lg);
  transition: all 150ms ease-in-out;
}

.coursecard:hover {
  background-color: var(--gray-100);
  transform: translateY(-0.25rem);
  cursor: pointer;
}

.course {
  margin: 0;
  color: var(--purple-500);
  transition: color 150ms ease-in-out;
}
.coursecard:hover > .course {
  color: var(--purple-800);
}

/* Event card */

.date {
  color: var(--gray-500);
}
