/* Global card styles */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--gap-med);
  margin-bottom: var(--gap);
}

.gridtall {
  display: flex;
  flex-direction: column;
  gap: var(--gap-med);
  margin-bottom: var(--gap);
}

.gridshort {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: var(--gap-med);
  margin-bottom: var(--gap);
}

.greencard {
  padding: var(--gap-half) var(--gap-med);
  margin-bottom: var(--gap-med);
  border-radius: var(--radius);
  background-color: var(--teal-100);
}

/* Dummy card styles */
.dummycard {
  background-color: var(--card);
  border-radius: var(--radius);
  padding: var(--gap-med);
  margin: var(--gap) 0;
  box-shadow: var(--shadows);
}

.dummyauthor {
  display: flex;
  align-items: center;
  margin-top: -1rem;
}

.dummytitle,
.dummydescription {
  height: 25px;
  animation: pulse 2s infinite;
  border-radius: var(--radius-sm);
  background-color: var(--gray-100);
}

.dummytitle {
  width: 25%;
}
.dummydescription {
  width: 100%;
}

@keyframes pulse {
  0% {
    background-color: var(--gray-50);
  }
  50% {
    background-color: var(--gray-100);
  }
  100% {
    background-color: var(--gray-50);
  }
}
