.hero {
  display: flex;
  align-items: center;
  margin-bottom: var(--gap-med);
}
.content {
  flex: 1;
  margin-right: var(--gap-med);
}

.serverdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courseGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: var(--gap-med);
}

.searchWrapper {
  position: relative;
  width: 100%;
}

.search {
  border: 2px solid var(--purple-200) !important;
  width: 100%;
  padding: var(--gap);
  font-size: 18px;
  border-radius: var(--radius);
  margin: var(--gap) 0;
  background-color: var(--gray-100) !important;
  color: var(--purple-700) !important;
}
.search::placeholder {
  color: var(--purple-700) !important;
}

.searchIcon {
  position: absolute;
  top: 25px;
  right: 15px;
  color: var(--purple-500) !important;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 868px) {
  .hero {
    flex-direction: column;
  }
  .content {
    margin-right: 0;
  }
}
