.hero {
  display: flex;
  align-items: center;
  margin-bottom: var(--gap-med);
}
.content {
  flex: 1;
  margin-right: var(--gap-med);
}

.courseGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: var(--gap-med);
}

.card {
  background-color: var(--gray-50);
  border: 2px solid var(--gray-100);
  border-radius: var(--radius);
  padding: var(--gap-med);
  box-shadow: var(--shadows-base);
  transition: all var(--transition);
}

.card:hover {
  background-color: var(--gray-100);
  box-shadow: var(--shadows-lg);
  transform: translateY(-0.5rem);
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchWrapper {
  position: relative;
  width: 100%;
}

.search {
  border: 2px solid var(--purple-200) !important;
  width: 100%;
  padding: var(--gap);
  font-size: 18px;
  border-radius: var(--radius);
  margin: var(--gap) 0;
  background-color: var(--gray-100) !important;
  color: var(--purple-700) !important;
}
.search::placeholder {
  color: var(--purple-700) !important;
}

.searchIcon {
  position: absolute;
  top: 25px;
  right: 15px;
  color: var(--purple-500) !important;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course {
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
  color: var(--purple-800);
}

.error {
  border-color: var(--red-800) !important;
}

.errorMessage {
  color: var(--red-800);
}

.delete {
  color: var(--red-900);
  background: var(--red-100);
  margin-left: 0;
}

.delete:hover {
  background-color: var(--red-200);
}

.modify {
  color: var(--purple-800);
  background-color: var(--purple-200);
}

.modify:hover {
  background-color: var(--purple-300);
}

@media (max-width: 868px) {
  .hero {
    flex-direction: column;
  }
  .content {
    margin-right: 0;
  }
}
