.hero {
  display: flex;
  align-items: center;
}
.content {
  flex: 1;
  margin-right: var(--gap-med);
}

.subtitle {
  font-size: 1.5rem;
}

.difficulty {
  color: var(--gray-500);
  margin: 0;
}

@media (max-width: 868px) {
  .hero {
    flex-direction: column;
  }
  .content {
    margin-right: 0;
  }
}
