.hero {
  display: flex;
  flex-direction: column;
  gap: var(--gap-med);
}

.banner {
  width: 100% !important;
  height: 300px;
  position: relative !important;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-med);
  margin-bottom: var(--gap-med);
}

.text {
  flex: 1;
}

.tagwrapper {
  display: flex;
  gap: var(--gap-half);
  flex-wrap: wrap;
}

.tag {
  background: var(--teal-100);
  color: var(--teal-900);
  display: flex;
  align-items: center;
  padding: 0 var(--gap-quarter);
  border-radius: var(--radius-sm);
  width: max-content;
  gap: var(--gap-quarter);
  cursor: pointer;
  transition: background-color var(--transition);
}

.tag:hover {
  background-color: var(--teal-200);
}

.animationWrapper {
  flex: 1;
  max-height: 100%;
  max-width: 100%;
  margin: auto 0;
}

.title {
  margin-bottom: 0;
}

.date,
.author {
  color: var(--gray-500);
}

.author a {
  font-weight: 700;
}

@media (max-width: 868px) {
  .content {
    flex-direction: column;
  }
  .content {
    margin-right: 0;
  }
}
