.hero {
  display: flex;
  align-items: center;
  margin-bottom: var(--gap-med);
}
.content {
  flex: 1;
  margin-right: var(--gap-med);
}

.date,
.author {
  color: var(--gray-500);
}

.author a {
  font-weight: 700;
}

@media (max-width: 868px) {
  .hero {
    flex-direction: column;
  }
  .content {
    margin-right: 0;
  }
}
