.footer {
  padding: 0 var(--gap-med);
  width: 100wv;
  display: flex;
  align-items: center;
  background-color: var(--card);
  /* Stretches to bottom of page */
  box-shadow: 0 50vh 0 50vh var(--card);
}

.innerfooter {
  border-top: 2px solid var(--gray-100);
  width: var(--main-content);
  margin: 0 auto;
  padding: var(--small-gap) 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-double);
}

.linkwrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-double);
}

.discover {
  display: flex;
  gap: var(--gap-double);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--gap-half);
}

.logo span {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--gray-900);
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.links > h4 {
  margin: 0;
}

.ending {
  margin: 0 auto;
  color: var(--gray-400);
}

@media (max-width: 668px) {
  .linkwrapper, .discover {
    flex-direction: column;
  }
}
