.footer {
  padding: 0 var(--gap-med);
  width: 100wv;
  display: flex;
  align-items: flex-start;
  background-color: var(--card);
  /* Stretches to bottom of page */
  box-shadow: 0 50vh 0 50vh var(--card);
}

.linkWrapper {
  border-top: 2px solid var(--gray-100);
  width: var(--main-content);
  margin: 0 auto;
  padding: var(--small-gap) 0;
  display: flex;
  gap: var(--gap-double);
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.links > h4 {
  margin: 0;
}

@media (max-width: 668px) {
  .linkWrapper {
    flex-direction: column;
  }
}
