/* Global form styles */
.primary {
  margin: var(--gap-half) 0;
  background-color: var(--amber-500);
  color: var(--amber-50);
  width: max-content;
}

.primarylogin {
  margin: var(--gap-half) 0;
  background-color: var(--amber-500);
  color: var(--amber-50);
  width: max-content;
}

.primarylogin:hover,
.primary:hover {
  background-color: var(--amber-600);
}

.serverdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.delete,
.deleteicon {
  margin: 0;
  color: var(--rose-800);
  background: var(--rose-100);
  max-width: max-content;
}

.delete {
  border-radius: var(--radius);
}

.deleteicon {
  border-radius: var(--radius-round);
}

.delete:hover,
.deleteicon:hover {
  background-color: var(--rose-200);
}

.deletecomment {
  color: var(--rose-500);
  font-weight: 600;
}

.deletecomment:hover {
  cursor: pointer;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-quarter);
}

.tab {
  background: transparent;
  transition: background-color var(--transition), color var(--transition);
}

.tab:hover {
  background-color: var(--gray-100);
}

.active {
  background-color: var(--gray-100);
  color: var(--amber-500);
}

.active.tab:hover {
  color: var(--amber-500);
  cursor: default;
}

.revealheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.reveal,
.revealprimary {
  border-radius: 50%;
  transform: rotate(0deg);
  transition: all var(--transition);
}

.revealprimary {
  background-color: var(--amber-500);
  color: var(--amber-800);
}

.revealprimary:hover {
  background-color: var(--amber-600);
}

.rotated {
  transform: rotate(45deg);
  transform-origin: center;
}

.reveal.rotated {
  background-color: var(--gray-700);
  color: var(--gray-100);
}

.revealprimary.rotated {
  background-color: var(--amber-700);
  color: var(--amber-100);
}

.linkwrap {
  display: flex;
  align-items: center;
  gap: var(--gap-quarter);
}

.maxlength {
  color: var(--gray-400);
}

/* Review form styles */
.checkedWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin: var(--gap-half) 0;
}

.checkedWrapper label {
  margin-left: var(--gap-quarter);
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--gray-500);
  font-weight: 600;
}

.searchWrapper {
  position: relative;
  width: 100%;
}

.search {
  width: 100%;
  margin: var(--gap) 0;
  background-color: var(--gray-100) !important;
}

.searchIcon {
  position: absolute;
  top: 38px;
  right: 15px;
}

@media (max-width: 668px) {
  .primary {
    width: 100%;
  }
}
