/* Global form styles */
.inputheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  color: var(--gray-500);
}

.datewrapper {
  display: flex;
  gap: var(--gap);
}

.dateinput {
  flex: 1;
}

.dateinput input {
  width: 100%;
}

.primary {
  margin: var(--gap-half) 0;
  background-color: var(--teal-500);
  color: var(--teal-50);
  width: max-content;
}

.primarylogin {
  margin: var(--gap-half) 0;
  background-color: var(--teal-500);
  color: var(--teal-50);
  width: max-content;
}

.primarylogin:hover,
.primary:hover {
  background-color: var(--teal-600);
}

.error {
  color: var(--rose-500);
  font-weight: 600;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: var(--gap);
  margin-top: var(--gap-half);
}

.commentactions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

.lucky {
  background-color: var(--teal-200);
  color: var(--teal-800);
  width: max-content;
}

.lucky:hover {
  background-color: var(--teal-300);
}

.editicon,
.deleteicon {
  padding: 0.6rem;
  height: max-content;
}
/* So the delete text "Confirm" does not slightly
make the button taller */
.deleteicon span {
  line-height: 1;
}

.editicon,
.deleteNotif {
  border-radius: var(--radius-round);
}

.deleteicon {
  border-radius: var(--radius-lg);
}

.editicon {
  background-color: var(--teal-200);
  color: var(--teal-800);
}

.deleteNotif {
  padding: var(--gap-half);
}

.delete,
.deleteicon,
.deleteNotif {
  color: var(--rose-800);
  background: var(--rose-50);
}

.editicon:hover {
  background-color: var(--teal-300);
}

.delete:hover,
.deleteicon:hover,
.deleteNotif:hover {
  background-color: var(--rose-100);
}

.deletecomment {
  color: var(--rose-500);
  font-weight: 600;
}

.deletecomment:hover {
  cursor: pointer;
}

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-quarter);
}

.tab {
  background: transparent;
  position: relative;
  padding: var(--gap-half);
  transition: all var(--transition);
}

.tab:hover {
  background-color: var(--gray-100);
}

.active {
  background-color: transparent;
  color: var(--teal-500);
}

.active.tab:hover {
  background-color: transparent;
  color: var(--teal-500);
  box-shadow: none;
  cursor: default;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--teal-500);
  border-radius: var(--radius);
}

.revealheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.reveal,
.revealprimary {
  border-radius: 50%;
  padding: 0.6rem;
  transition: all var(--transition);
  -webkit-tap-highlight-color: transparent;
}

.revealprimary {
  background-color: var(--teal-500);
  color: var(--teal-100);
}

.revealprimary:hover {
  background-color: var(--teal-600);
}

.linkwrap {
  display: flex;
  align-items: center;
  gap: var(--gap-quarter);
}

.linkwrap svg {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

.maxlength {
  color: var(--gray-400);
  max-width: max-content;
}

.dropzone {
  border: 2px dashed var(--teal-400);

  border-radius: var(--radius);
  cursor: pointer;
  transition: border-color var(--transition);
  background-color: var(--gray-100);
}
.dropzone:hover {
  border-color: var(--teal-500);
}

.prompt {
  padding: var(--gap-med);
  color: var(--gray-500);
  margin: 0;
}

.imagedeleteicon {
  position: absolute;
  transform: translate(-7px, -7px);
  z-index: 5 !important;
  margin: 0;
  padding: var(--gap-half);
  background-color: var(--rose-300);
  border-radius: var(--radius-round);
}

.imagedeleteicon:hover {
  background-color: var(--rose-400);
}

.thumbsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumb {
  display: inline-flex;
  max-width: 100%;
  max-height: 300px;
  box-sizing: border-box;
  padding: var(--gap-med);
}

.thumbInner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.img {
  width: auto;
  height: 100%;
  border-radius: var(--radius);
}

/* Review form styles */
.checkedWrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-half);
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--gray-500);
  font-weight: 600;
}

.searchWrapper {
  position: relative;
  width: 100%;
}

.search {
  width: 100%;
  margin: var(--gap) 0;
  background-color: var(--gray-100) !important;
}

.searchIcon {
  position: absolute;
  top: 38px;
  right: 15px;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

@media (max-width: 668px) {
  .primary,
  .lucky {
    width: 100%;
  }
  .commentactions {
    flex-direction: column;
  }
  .datewrapper {
    flex-direction: column;
    gap: 0;
  }
}
