/* Rubik Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');

:root {
  /* Spacing */
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --gap-med: 1.5rem;
  --small-gap: 4rem;
  --big-gap: 4rem;
  --hero-content: 72rem;
  --main-content: 60rem;
  --nav-content: 74rem;
  --radius-sm: 5px;
  --radius: 10px;
  --radius-lg: 25px;
  --radius-round: 50%;
  --inline-radius: 5px;

  /* Typography */
  --font-head: 'Rubik', sans-serif;
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;

  /* Transitions */
  --transition: 250ms ease-in-out;
  --transition-slow: 0.3s ease-in-out;

  /* Shadows */
  --shadows-sm: 0 1px 2px 0 rgba(178, 183, 190, 0.15);
  --shadows-base: 0 1px 3px 0 rgba(178, 183, 190, 0.15),
    0 1px 2px 0 rgba(178, 183, 190, 0.15);
  --shadows-lg: 0 10px 15px -3px rgba(178, 183, 190, 0.15),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadows-xl: 0 20px 25px -5px rgba(178, 183, 190, 0.15),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --nav-shadow: rgba(178, 183, 190, 0.15) 0px 5px 10px 0px;

  /* Default theme */
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;

  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;

  --rose-50: #fff1f2;
  --rose-100: #ffe4e6;
  --rose-200: #fecdd3;
  --rose-300: #fda4af;
  --rose-400: #fb7185;
  --rose-500: #f43f5e;
  --rose-600: #e11d48;
  --rose-700: #be123c;
  --rose-800: #9f1239;
  --rose-900: #881337;
}

[data-theme='dark'] {
  --gray-50: #18181b;
  --gray-100: #27272a;
  --gray-200: #3f3f46;
  --gray-300: #52525b;
  --gray-400: #71717a;
  --gray-500: #a1a1aa;
  --gray-600: #d4d4d8;
  --gray-700: #e4e4e7;
  --gray-800: #f4f4f5;
  --gray-900: #fafafa;

  --amber-50: #78350f;
  --amber-100: #92400e;
  --amber-200: #b45309;
  --amber-300: #d97706;
  --amber-400: #f59e0b;
  --amber-500: #fbbf24;
  --amber-600: #fcd34d;
  --amber-700: #fde68a;
  --amber-800: #fef3c7;
  --amber-900: #fffbeb;

  --rose-50: #881337;
  --rose-100: #9f1239;
  --rose-200: #be123c;
  --rose-300: #e11d48;
  --rose-400: #f43f5e;
  --rose-500: #fb7185;
  --rose-600: #fda4af;
  --rose-700: #fecdd3;
  --rose-800: #ffe4e6;
  --rose-900: #fff1f2;

  --nav-shadow: rgba(3, 3, 3, 0.171) 0px 5px 10px 0px;
  --shadows-sm: 0 1px 2px 0 rgba(3, 3, 3, 0.171);
  --shadows-base: 0 1px 3px 0 rgba(3, 3, 3, 0.171),
    0 1px 2px 0 rgba(3, 3, 3, 0.171);
  --shadows-lg: 0 10px 15px -3px rgba(3, 3, 3, 0.171),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadows-xl: 0 20px 25px -5px rgba(3, 3, 3, 0.171),
    0 10px 10px -5px rgba(3, 3, 3, 0.171);
}

* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: var(--gray-900);
  color: var(--gray-50);
}

html {
  line-height: 1.75;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: var(--gray-50);
  color: var(--gray-900);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: var(--font-head) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head) !important;
  font-weight: 700;
}

p,
li {
  font-size: 1.125rem;
  color: var(--gray-800);
}

li {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

hr {
  border: none;
  border-bottom: 1px solid var(--amber-100);
}

blockquote {
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--amber-300);
}

a,
p a,
a.reset {
  outline: none;
  color: var(--amber-500);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

p a:hover {
  text-decoration: underline;
}

p a:hover,
p a:focus,
p a:active,
a.reset:hover,
a.reset:focus {
  color: var(--amber-500);
}

svg {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

pre,
code {
  font-family: var(--font-mono);
  font-size: 15px;
  background-color: var(--amber-100);
  padding: 3px 6px;
  border-radius: var(--radius-sm);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-quarter);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-100);
  color: var(--gray-900);
  border: none;
  font-size: 16px;
  line-height: inherit;
  padding: var(--gap-half);
  font-weight: 600;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color var(--transition);
}

button:hover {
  background-color: var(--gray-200);
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

input,
select,
textarea {
  color: var(--gray-800);
  line-height: 1.6;
  border: 2px solid var(--gray-100);
  padding: var(--gap) var(--gap);
  font-size: 1.125rem;
  border-radius: var(--radius);
  margin: var(--gap-half) 0;
  background-color: var(--gray-100) !important;
  resize: none !important;
}

input[type='text'],
textarea {
  background-color: var(--gray-100);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='text']:disabled {
  border-color: var(--gray-200) !important;
}

input[type='text']:disabled::placeholder {
  color: var(--gray-300) !important;
}

input:focus {
  outline: none !important;
  border: 2px solid var(--amber-500);
}
textarea:focus {
  outline: none !important;
  border: 2px solid var(--amber-500);
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%; /* Full-width */
  height: var(--gap-half); /* Specified height */
  border: none;
  border-radius: var(--radius);
  outline: none; /* Remove outline */
  padding: 0;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  background-color: var(--gray-100);
  border: none;
  border-radius: var(--radius-lg);
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: var(--radius-round);
  background-color: var(--amber-500);
  margin-top: -5px;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background-color: var(--gray-100);
}
input[type='range'] {
  /* fix for FF unable to apply focus style bug  */
  border: none;
  /*required for proper track sizing in FF*/
}
input[type='range']::-moz-range-track {
  height: 10px;
  background-color: var(--gray-100);
  border: none;
  border-radius: var(--radius-lg);
}
input[type='range']::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: var(--radius-round);
  background: var(--amber-500);
}

/*hide the outline behind the border*/
input[type='range']:-moz-focusring {
  outline: none;
}
input[type='range']:focus::-moz-range-track {
  background: var(--gray-200);
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media print {
  :root {
    --gray-50: #fafafa;
    --gray-100: #f4f4f5;
    --gray-200: #e4e4e7;
    --gray-300: #d4d4d8;
    --gray-400: #a1a1aa;
    --gray-500: #71717a;
    --gray-600: #52525b;
    --gray-700: #3f3f46;
    --gray-800: #27272a;
    --gray-900: #18181b;

    --amber-50: #fffbeb;
    --amber-100: #fef3c7;
    --amber-200: #fde68a;
    --amber-300: #fcd34d;
    --amber-400: #fbbf24;
    --amber-500: #f59e0b;
    --amber-600: #d97706;
    --amber-700: #b45309;
    --amber-800: #92400e;
    --amber-900: #78350f;
  }

  * {
    text-shadow: none !important;
  }
}

@media (max-width: 868px) {
  html,
  body {
    font-size: 15px;
  }
}
