/* Rubik Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');

:root {
  /* Spacing */
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --gap-med: 1.5rem;
  --small-gap: 4rem;
  --big-gap: 4rem;
  --main-content: 55rem;
  --radius-sm: 5px;
  --radius: 8px;
  --inline-radius: 5px;

  /* Typography */
  --font-head: 'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;

  /* Transitions */
  --transition: 250ms ease-in-out;
  --transition-slow: 0.3s ease-in-out;

  /* Shadows */
  --shadows-sm: 0 1px 2px 0 rgba(178, 183, 190, 0.15);
  --shadows-base: 0 1px 3px 0 rgba(178, 183, 190, 0.15),
    0 1px 2px 0 rgba(178, 183, 190, 0.15);
  --shadows-lg: 0 10px 15px -3px rgba(178, 183, 190, 0.15),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadows-xl: 0 20px 25px -5px rgba(178, 183, 190, 0.15),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* Default theme */
  --background: #f7fafc;
  --foreground: #171923;
  --nav-shadow: rgba(178, 183, 190, 0.15) 0px 5px 10px 0px;
  --gray-100: #edf2f7;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e0;
  --gray-400: #a0aec0;
  --gray-500: #718096;
  --gray-600: #4a5568;
  --gray-700: #2d3748;
  --gray-800: #1a202c;
  --purple-50: #faf5ff;
  --purple-100: #e9d8fd;
  --purple-200: #d6bcfa;
  --purple-300: #b794f4;
  --purple-400: #9f7aea;
  --purple-500: #805ad5;
  --purple-600: #6b46c1;
  --purple-700: #553c9a;
  --purple-800: #44337a;
  --purple-900: #322659;
  --red-50: #fff5f5;
  --red-100: #fed7d7;
  --red-200: #feb2b2;
  --red-300: #fc8181;
  --red-400: #f56565;
  --red-500: #e53e3e;
  --red-600: #c53030;
  --red-700: #9b2c2c;
  --red-800: #822727;
  --red-900: #63171b;
}

[data-theme='dark'] {
  --background: #171923;
  --foreground: #f7fafc;
  --nav-shadow: rgba(3, 3, 3, 0.171) 0px 5px 10px 0px;
  --gray-800: #edf2f7;
  --gray-700: #e2e8f0;
  --gray-600: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-400: #718096;
  --gray-300: #4a5568;
  --gray-200: #2d3748;
  --gray-100: #1a202c;
  --purple-900: #faf5ff;
  --purple-800: #e9d8fd;
  --purple-700: #d6bcfa;
  --purple-600: #b794f4;
  --purple-500: #9f7aea;
  --purple-400: #805ad5;
  --purple-300: #6b46c1;
  --purple-200: #553c9a;
  --purple-100: #44337a;
  --purple-50: #322659;
  --red-900: #fff5f5;
  --red-800: #fed7d7;
  --red-700: #feb2b2;
  --red-600: #fc8181;
  --red-500: #f56565;
  --red-400: #e53e3e;
  --red-300: #c53030;
  --red-200: #9b2c2c;
  --red-100: #822727;
  --red-50: #63171b;

  --shadows-sm: 0 1px 2px 0 rgba(3, 3, 3, 0.171);
  --shadows-base: 0 1px 3px 0 rgba(3, 3, 3, 0.171),
    0 1px 2px 0 rgba(3, 3, 3, 0.171);
  --shadows-lg: 0 10px 15px -3px rgba(3, 3, 3, 0.171),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadows-xl: 0 20px 25px -5px rgba(3, 3, 3, 0.171),
    0 10px 10px -5px rgba(3, 3, 3, 0.171);
}

* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: var(--foreground);
  color: var(--background);
}

html {
  line-height: 1.75;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: var(--background);
  color: var(--foreground);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
}

p,
li {
  font-size: 1.125rem;
  color: var(--gray-800);
}

li {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  line-height: 1;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

hr {
  border: none;
  border-bottom: 1px solid var(--purple-100);
}

blockquote {
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--purple-300);
}

button {
  border: none;
  line-height: inherit;
  font-size: 16px;
  padding: var(--gap-half);
  font-weight: 600;
  border-radius: var(--radius-sm);
  cursor: pointer;
  background-color: var(--gray-200);
  color: var(--gray-800);
  transition: background-color var(--transition);
}

a,
p a,
a.reset {
  outline: none;
  color: var(--purple-500);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

p a:hover {
  text-decoration: underline;
}

svg {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

p a:hover,
p a:focus,
p a:active,
a.reset:hover,
a.reset:focus {
  color: var(--purple-500);
}

pre,
code {
  font-family: var(--font-mono);
  font-size: 15px;
  background-color: var(--purple-100);
  padding: 3px 6px;
  border-radius: var(--radius-sm);
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

input,
select,
textarea {
  color: var(--purple-700);
}

input[type='text'],
textarea {
  background-color: var(--purple-100);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='text']:disabled {
  border-color: var(--purple-200) !important;
}

input[type='text']:disabled::placeholder {
  color: var(--purple-3) !important;
}

.inactive {
  font-weight: 500 !important;
  text-decoration: none !important;
  color: var(--purple-400);
  transition: all var(--transition);
}

.inactive:hover {
  color: var(--purple-500);
}

.active {
  font-weight: 500 !important;
  text-decoration: none !important;
  color: var(--foreground);
}

.active,
.inactive {
  margin: 0 10px;
}

.active:first-of-type,
.inactive:first-of-type {
  margin-left: 0;
}

.active:last-of-type,
.inactive:last-of-type {
  margin-right: 0;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media print {
  :root {
    --background: #f7fafc;
    --foreground: #171923;
    --foreground-2: #1a202c;
    --purple-50: #faf5ff;
    --purple-100: #e9d8fd;
    --purple-200: #d6bcfa;
    --purple-300: #b794f4;
    --purple-400: #9f7aea;
    --purple-500: #805ad5;
    --purple-600: #6b46c1;
    --purple-700: #553c9a;
    --purple-800: #44337a;
    --purple-900: #322659;
    --red-200: #feb2b2;
    --red-500: #e53e3e;
    --red-800: #822727;
  }

  * {
    text-shadow: none !important;
  }
}

@media (max-width: 868px) {
  html,
  body {
    font-size: 15px;
  }
}
