.navigation,
.mobilenavigation {
  z-index: 10;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background: var(--background);
  color: var(--foreground);
  display: flex;
  box-shadow: none;
  transition: all var(--transition);
}

.navigation {
  height: 100px;
  padding: var(--gap-quarter) var(--gap-med);
  align-items: center;
  justify-content: space-between;
}

.mobilenavigation {
  height: 75px;
  padding: var(--gap-med);
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.shadow {
  height: 75px;
  box-shadow: var(--nav-shadow);
}

.mobileshadow {
  height: 60px;
  box-shadow: var(--nav-shadow);
}

.linkwrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-med);
}

.open,
.notopen {
  width: 100vw;
  margin-top: 60px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: var(--background);
  overflow-x: hidden !important;
  overflow-y: auto !important;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-med);
  font-size: 1.5rem;
}

.open {
  height: 100vh;
}

.notopen {
  height: 0vh;
}

.primary,
.secondary {
  margin-left: 0;
}

.primary {
  background: var(--purple-300);
  color: var(--purple-900);
  transition: background var(--transition);
}

.primary:hover {
  background: var(--purple-400);
}

.secondary:hover {
  background: var(--gray-300);
}

.themeWrapper {
  display: flex;
  align-items: center;
}

.theme {
  background: var(--gray-200);
  color: var(--gray-800);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background var(--transition);
}

.theme:hover {
  background: var(--gray-300);
}

.hamburger {
  margin-top: var(--gap-quarter);
  width: 2rem;
  height: 2rem;
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.inner {
  height: 0.2rem;
  width: 2rem;
  background-color: var(--gray-600);
  margin: 0.25rem 0;
  border-radius: var(--radius);
  transition: transform var(--transition);
}

.onclick {
  transform: rotate(45deg) translateY(0.5rem);
  transform-origin: center;
}

.onclick2 {
  transform: rotate(-45deg) translateY(-0.5rem);
  transform-origin: center;
}
