.navigation {
  z-index: 10;
  margin: 0 auto;
  position: sticky;
  padding: var(--gap-quarter) var(--gap-med);
  top: 0;
  background: var(--background);
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkwrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-med);
}

.primary,
.secondary {
  background: var(--purple-300);
  color: var(--purple-900);
  transition: background var(--transition);
}

.primary:hover {
  background: var(--purple-400);
}

.secondary:hover {
  background: var(--purple-500);
}

.themeWrapper {
  display: flex;
  align-items: center;
}

.theme {
  background: var(--gray-200);
  color: var(--gray-800);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background var(--transition);
}

.theme:hover {
  background: var(--gray-300);
}
