.navigation {
  z-index: 10;
  margin: 0 auto;
  position: sticky;
  padding: var(--gap-quarter) var(--gap-med);
  top: 0;
  background: var(--background);
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobilenavigation {
  z-index: 10;
  margin: 0 auto;
  position: sticky;
  padding: var(--gap-quarter) var(--gap-med);
  top: 0;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: var(--background);
  padding: var(--gap-med) var(--gap-med) var(--gap-med) 0;
}

.linkwrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-med);
}

.notopen {
  height: 0;
  display: none;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-med);
  min-width: 100vw;
  min-height: 100vh;
  z-index: 2;
  margin: 0;
  overflow-y: hidden;
}

.primary, .secondary{
  margin-left: 0;
}

.primary {
  background: var(--purple-300);
  color: var(--purple-900);
  transition: background var(--transition);
}

.primary:hover {
  background: var(--purple-400);
}

.secondary:hover {
  background: var(--gray-300);
}

.themeWrapper {
  display: flex;
  align-items: center;
}

.theme {
  background: var(--gray-200);
  color: var(--gray-800);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background var(--transition);
}

.theme:hover {
  background: var(--gray-300);
}

.hamburger {
  margin-top: var(--gap-quarter);
  width: 2rem;
  height: 2rem;
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.inner {
  height: 0.2rem;
  width: 2rem;
  background-color: var(--gray-600);
  margin: 0.25rem 0;
  border-radius: var(--radius);
  transition: transform var(--transition);
}

.onclick {
  transform: rotate(45deg) translateY(0.5rem);
  transform-origin: center;
}

.onclick2 {
  transform: rotate(-45deg) translateY(-0.5rem);
  transform-origin: center;
}

@media only screen and (max-width: 868px) {
}
