.nav,
.mobilenav {
  width: 100%;
  height: 5rem;
  z-index: 10;
  position: fixed;
  padding: 0 var(--gap-med);
  top: 0;
  background: var(--gray-50);
  display: flex;
  align-items: center;
  box-shadow: none;
  transition: height 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.mobilenav {
  justify-content: flex-end;
}

.innernav {
  display: flex;
  width: 70rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--gap-half);
}

.logo span {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--gray-900);
}

.mobilelogo,
.hamburger {
  z-index: 999;
}
.mobilelogo {
  margin-top: var(--gap-quarter);
}
.hamburger {
  margin-right: var(--gap);
}

.navlist {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.mobilenavlist {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: var(--gray-50);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: var(--big-gap);
  gap: var(--gap-med);
  margin-top: 0;
}

.navlist li,
.mobilenavlist li {
  list-style: none;
  font-size: 1.25rem;
  max-width: max-content;
}

.mobilenavlist li a {
  text-decoration: none;
}

.shadow {
  height: 4.5rem;
  box-shadow: var(--nav-shadow);
}

.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  transition: all var(--transition);
  border-radius: var(--radius-round);
}

.theme:hover {
  background-color: var(--gray-200);
  border-radius: var(--radius);
}

@media (max-width: 868px) {
  .mobilelogo {
    margin-left: var(--gap-quarter);
  }
}
