.hero,
.heroreverse {
  margin: 0 auto;
  max-width: var(--main-content);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 75vh;
}

.heroImage {
  display: flex;
  flex: 1;
  margin: 0 var(--gap-med);
}

.content {
  flex: 1;
  margin-left: var(--gap-med);
}

.title,
.sectiontitle {
  color: var(--purple-500);
}

.subtitle {
  color: var(--gray-400);
}

@media (max-width: 868px) {
  .hero {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .heroreverse {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    margin-left: 0;
  }
  .heroImage {
    margin: 0;
  }
}
