.hero,
.heroreverse {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 75vh;
  gap: var(--small-gap);
  max-width: var(--main-content);
}

.herocards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-med);
  max-width: 75rem;
  margin: 0 auto;
  padding: var(--gap-double) 0;
  overflow-x: auto;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--card);
  border-radius: var(--radius);
  padding: var(--gap-med);
  box-shadow: var(--shadows);
  width: 24rem;
}

.cardTitle,
.cardCaption {
  text-align: center;
}

.heroprimary {
  padding: var(--gap) var(--big-gap);
  background-color: var(--teal-500);
  color: var(--teal-50);
  gap: var(--gap-quarter);
}

.heroprimary svg {
  transform: scale(1.2);
}

.heroprimary:hover {
  background-color: var(--teal-600);
}

.animationWrapper {
  min-width: 500px;
  max-width: 500px;
}

.animationWrapperSmall {
  margin: auto;
  min-width: 200px;
  max-width: 200px;
}

.content {
  flex: 1;
}

.title {
  font-size: 3.75rem;
  line-height: 1.2;
}

.title span,
.sectiontitle {
  color: var(--teal-500);
}

.subtitle {
  color: var(--gray-400);
}
/* 
@media (max-width: 868px) {
  .herocards {
    --gradient-size-start: calc(0% - env(safe-area-inset-left) - 10px);
    --gradient-size-end: calc(7% - env(safe-area-inset-right) - 0px);
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0,
      #000 var(--gradient-size-start),
      #000 calc(100% - var(--gradient-size-end)),
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      transparent 0,
      #000 var(--gradient-size-start),
      #000 calc(100% - var(--gradient-size-end)),
      transparent 100%
    );
  }
} */

@media (max-width: 668px) {
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .heroreverse {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }
  .animationWrapper {
    min-width: 0px;
    max-width: 320px;
  }
  .animationWrapperSmall {
    min-width: 0px;
    max-width: 200px;
  }

  .card {
    width: 22rem;
  }

  .title {
    font-size: 3rem;
  }
}
