.herolayout {
  margin: 6rem auto 0 auto;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

.layout {
  margin: 6rem auto var(--small-gap) auto;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  max-width: var(--main-content);
  padding: 0 var(--gap-med);
}

.page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--gap-med);
}

.sidebar {
  position: sticky;
  top: 6rem;
  background-color: var(--card);
  box-shadow: var(--shadows);
  border-radius: var(--radius);
  padding: var(--gap-med);
  min-height: 30rem;
}

.sidebar h3 {
  margin: 0;
}

.side {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidetitle {
  color: var(--teal-500);
  cursor: pointer;
  margin-bottom: -1rem;
}

.sidetitle:hover {
  color: var(--teal-600);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.header h2 {
  transition: color var(--transition);
}

.header:hover > h2 {
  color: var(--teal-500);
}

.primary {
  background-color: var(--teal-500);
  color: var(--teal-50);
  border-radius: var(--radius-round);
  padding: 0.6rem;
}

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tab {
  background: transparent;
  position: relative;
  padding: var(--gap-half);
  transition: all var(--transition);
  box-shadow: none !important;
}

.tab:hover {
  background-color: var(--gray-100);
}

.active {
  background-color: transparent;
  color: var(--teal-500);
}

.active.tab:hover {
  background-color: transparent;
  color: var(--teal-500);
  cursor: default;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--teal-500);
  border-radius: var(--radius);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownbutton {
  background-color: transparent;
  padding: var(--gap-half);
  border-radius: var(--radius-sm);
}

.hidden {
  visibility: hidden;
  display: none;
}

.visible {
  visibility: visible;
  display: flex;
  flex-direction: column;
  gap: var(--gap-quarter);
  position: absolute;
  right: 0;
  background-color: var(--card);
  padding: var(--gap-half);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadows);
  margin-top: var(--gap-quarter);
  z-index: 999;
}

@media (max-width: 868px) {
  .page {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: none;
  }
}
