.hero {
  display: flex;
  flex-direction: column;
  gap: var(--gap-med);
}

.content {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-med);
}

.text {
  flex: 1;
}

.animationWrapper {
  flex: 1;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.organizationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.memberslist {
  padding: 0;
  display: grid;
  grid-template-rows: repeat(10, min-content);
  grid-auto-flow: column;
}

.subtitle {
  color: var(--gray-500);
}

@media (max-width: 868px) {
  .content {
    flex-direction: column;
  }
  .content {
    margin-right: 0;
  }
  .organizationHeader {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
