.hero {
  display: flex;
  align-items: center;
  margin-bottom: var(--gap-med);
}
.content {
  flex: 1;
  margin-right: var(--gap-med);
}

.memberslist {
  padding: 0;
  display: grid;
  grid-template-rows: repeat(10, min-content);
  grid-auto-flow: column;
}

.subtitle {
  color: var(--gray-500);
}

@media (max-width: 868px) {
  .hero {
    flex-direction: column;
  }
  .content {
    margin-right: 0;
  }
}
