.inputWrapper {
  display: flex;
  flex-direction: column;
}

.input {
  border: 2px solid var(--purple-100) !important;
  flex: 1;
  padding: var(--gap) var(--gap);
  font-size: 1.125rem;
  border-radius: var(--radius);
  margin: var(--gap-half) 0;
  background-color: var(--gray-100) !important;
}
.input::placeholder {
  color: var(--accent-7) !important;
}

.checkedWrapper{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: var(--gap-med);
}

.checkedWrapper label{
  margin-left: var(--gap-quarter);
}

.author{
  color: var(--gray-500)
}

.signbutton{
 margin: var(--gap-half) 0;
 background-color: var(--purple-500);
 color: var(--purple-50);
  width: max-content;
}