.hero {
  display: flex;
  align-items: center;
}
.content {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  border: 2px solid var(--teal-100);
  flex: 1;
  padding: var(--gap) var(--gap);
  font-size: 1.125rem;
  border-radius: var(--radius);
  margin: var(--gap-half) 0;
  background-color: var(--gray-100) !important;
}
.input::placeholder {
  color: var(--teal-700) !important;
}

.warningWrapper {
  display: flex;
  flex-direction: column;
  padding: var(--gap-med);
  border: 2px solid var(--rose-200);
  background-color: var(--rose-50);
  border-radius: var(--radius);
}

.warningTitle {
  display: flex;
  align-items: center;
}

.setrolebutton {
  width: max-content;
  margin-right: 0;
  background-color: var(--teal-100);
  color: var(--teal-800);
  transition: all var(--transition);
}

.setrolebutton:hover {
  background-color: var(--teal-200);
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.quote {
  margin: var(--gap-med) 0;
}

@media (max-width: 868px) {
  .hero {
    flex-direction: column;
  }
  .content {
    margin-right: 0;
  }
}
