.hero {
  display: flex;
  align-items: center;
}
.content {
  flex: 1;
  margin-right: var(--gap-med);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.input {
  border: 2px solid var(--purple-100);
  flex: 1;
  padding: var(--gap) var(--gap);
  font-size: 1.125rem;
  border-radius: var(--radius);
  margin: var(--gap-half) 0;
  background-color: var(--gray-100) !important;
}
.input::placeholder {
  color: var(--purple-700) !important;
}

.warningWrapper {
  display: flex;
  flex-direction: column;
  padding: var(--gap-med);
  border: 2px solid var(--red-200);
  background-color: var(--red-50);
  border-radius: var(--radius);
}

.warningTitle {
  display: flex;
  align-items: center;
}

.setrolebutton {
  width: max-content;
  margin-right: 0;
  background-color: var(--purple-100);
  color: var(--purple-800);
  transition: all var(--transition);
}

.setrolebutton:hover {
  background-color: var(--purple-200);
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.quote {
  margin: var(--gap-med) 0;
}

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-quarter);
}

.tab {
  background: transparent;
  transition: background-color var(--transition), color var(--transition);
}

.tab:hover {
  background-color: var(--gray-200);
}

.active {
  background-color: var(--gray-200);
}

.active.tab:hover {
  background-color: var(--gray-200);
  color: var(--gray-800);
  cursor: default;
}

@media (max-width: 868px) {
  .hero {
    flex-direction: column;
  }
  .content {
    margin-right: 0;
  }
}
